################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/CBriscola.Avalonia/bin/Release/net9.0-windows10.0.26100.0
/CBriscola.Avalonia/obj
/cbriscola.avalonia-setup/bin/Release/net472
/cbriscola.avalonia-setup/obj
/CBriscola.Avalonia/bin/Debug/net9.0-windows10.0.26100.0
/cbriscola.avalonia-setup/bin/Debug/net472
